/* vietnamese */
@font-face {
  font-family: "VNPro";
  font-style: normal;
  font-weight: 300;
  src: url("/fonts/BeVietnamPro-Light.ttf") format("truetype");
}

@font-face {
  font-family: "VNPro";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/BeVietnamPro-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "VNPro";
  font-style: normal;
  font-weight: 500;
  src: url("/fonts/BeVietnamPro-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "VNPro";
  font-style: normal;
  font-weight: 700;
  src: url("/fonts/BeVietnamPro-Bold.ttf") format("truetype");
}
