/* Ẩn bill thứ 2 trên web */
.print-only {
  display: none;
}
.print-shipping-mart-only {
  display: none;
}
@media print {
  @page {
    margin: 2mm;
  }

  .a4-portrait {
    page: a4-portrait;
  }

  .a4-landscape {
    page: a4-landscape;
  }

  @page a4-portrait {
    size: A4 portrait;
  }

  @page a4-landscape {
    size: A4 landscape;
  }

  body {
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
  }

  /* Nếu bill quá lớn, tự động in thành 2 trang A4 */
  .bill:nth-child(even) {
    page-break-after: always; /* Ngắt trang sau mỗi tờ bill lẻ */
  }

  /* Khi in, hiển thị bill thứ 2 */
  .print-only {
    display: block !important;
  }
  /* Khi in, hiển thị bill thứ 2 */
  .print-shipping-mart-only {
    display: flex !important;
  }
}
